{% extends 'base.html.twig' %}

{% block title %}Test Symfony{% endblock %}

{% block body %}

<section>
    <div class="uk-container uk-container-medium">
        <h1 class="uk-h1">Titolo della pagina - {{ controller_name }}!</h1>
        {% if app.user %}
            <a href="{{path('logout')}}" class="uk-button uk-button-primary"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
        {% else %}
            <a href="{{path('login')}}" class="uk-button uk-button-primary"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a>
        {% endif %}

        <div class="uk-grid-medium uk-child-width-expand@s uk-margin-large-top uk-grid-match" uk-grid>
            {% for post in posts %}
            <div class="uk-width-1-4@m uk-width-1-1@s ">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">{{ post.title }}</h3>
                    <p>{{ post.abstract }}</p>
                    
                    <div class="like-{{post.id}}">
                    {% if app.user and post in app.user.getLikes %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="/post/{{post.id}}/unlike" class="toggle-likes">
                        {% endif %} 
                            <span class="number-of-likes-{{post.id}}">{{post.likes.count}}</span>&nbsp;
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}    
                        </a>     
                        {% endif %} 
                    {% else %}
                        <a href="/post/{{post.id}}/like" class="toggle-likes">
                            <span class="number-of-likes-{{post.id}}">{{post.likes.count}}</span>&nbsp;
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>   
                        </a>   
                    {% endif %}     
                    </div> 
                            
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/js/like-es6.js')}}"></script>
{% endblock %}